```{=html}
The following projects are advertised for 2025 entry into the CDT.
<br><br>
<div class="phd-project-container">
<% for (const item of items) { %>
        <div class="card border-dark" <%= metadataAttrs(item) %>>
            <a href="entries/<%- item.filename %>">
            <div class="card-body">
                <h4 class="card-title mt-0"><%- item.title %></h4>
                <p class="card-text"><%- item.author.affiliation %>: <%- item.department %></p>
                <hr class="card-divider" />
                <p class="card-text">Principal advisor: <%- item.author %></p>
            </div>
            </a>    
        </div>
<% } %>
</div>
```
